<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span>Welcome, Java Hipster!</span> (Reformed Tech)</h1>

    <p class="lead">This is your homepage</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>If you want to </span>
        <a class="alert-link" (click)="login()">Login</a
        ><span
          >, you can try the default accounts:<br />- Admin (login="tajbir_admin" and password="tajbir") <br />- User (login="tajbir_user"
          and password="tajbir").</span
        >
      </div>
    </div>

    <p>Application Technology</p>

    <ul>
      <li>Jhipster</li>
      <li>Spring Boot</li>
      <li>Angular</li>
      <li>MySQL</li>
      <li>Keycloak</li>
    </ul>

    <p>
      <span>You can see the source code From my Gitlab Account</span>
      <a href="https://gitlab.com/tajbirnuva/reformedtech-jhipster" target="_blank" rel="noopener noreferrer">Code Source</a>!
    </p>
  </div>
</div>
