<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="userEntity">
      <h2 data-cy="userEntityDetailsHeading"><span>User Entity</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ userEntity.id }}</span>
        </dd>
        <dt><span>Firstname</span></dt>
        <dd>
          <span>{{ userEntity.firstname }}</span>
        </dd>
        <dt><span>Lastname</span></dt>
        <dd>
          <span>{{ userEntity.lastname }}</span>
        </dd>
        <dt><span>Username</span></dt>
        <dd>
          <span>{{ userEntity.username }}</span>
        </dd>
        <dt><span>Password</span></dt>
        <dd>
          <span>{{ userEntity.password }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ userEntity.email }}</span>
        </dd>
        <dt><span>Roles</span></dt>
        <dd>
          <span>{{ userEntity.roles }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/user-entity', userEntity.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
